# kind-config.yaml.j2
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
kubeadmConfigPatches:
- |
  apiVersion: kubeadm.k8s.io/v1beta3
  kind: ClusterConfiguration
  apiServer:
    timeoutForControlPlane: 5m0s
name: {{ cluster_name }}
{% if disable_default_cni %}
networking:
  disableDefaultCNI: true
{% endif %}
{% if feature_gates %}
featureGates:
{% for key, value in feature_gates.items() %}
  "{{ key }}": {{ value | lower }}
{% endfor %}
{% endif %}
nodes:
- role: control-plane
  {% if control_plane_image %}
  image: {{ control_plane_image }}
  {% endif %}
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        cgroup-driver: systemd
  {% if extra_port_mappings %}
  extraPortMappings:
  {% for mapping in extra_port_mappings %}
  - containerPort: {{ mapping.container_port }}
    hostPort: {{ mapping.host_port }}
    {% if mapping.listen_address %}
    listenAddress: "{{ mapping.listen_address }}"
    {% endif %}
    {% if mapping.protocol %}
    protocol: {{ mapping.protocol }}
    {% endif %}
  {% endfor %}
  {% endif %}
{% if num_workers and num_workers > 0 %}
{% for i in range(num_workers) %}
- role: worker
  {% if worker_image %}
  image: {{ worker_image }}
  {% endif %}
{% endfor %}
{% endif %}
